################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/IntegratorSofttek/bin/Debug/net6.0/appsettings.json
